.banner-img{
    width: 100%;
    height: 496px;
    position: relative;
    top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('../images/class/banner.png') no-repeat;
    text-align: center;
}
.banner-content{
    position: absolute;
    color: #fff;
   
}
.banner-title{
    font-size: 3rem;
}
.button{
    width: 240px;
    height: 56px;
    line-height: 56px;
    border-radius: 32px;
    margin: 0 auto;
    background-color: #00cc7e;
    font-size: 20px;
    margin-top: 30px;
    color: #fff;
}
.why{
    text-align: center;
    background-color: #f5f7fa;
    color: #333;
    padding: 40px 0;
}
.why-title{
    font-size: 2.5rem;
}
.why article{
    padding: 20px;
    line-height: 2em;
    font-size: 14px;
    font-weight: 300;
    width: 1000px;
    margin: 0 auto;
    letter-spacing: 3px;
}
.why-item{
    border-radius: 5px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, .04);
    padding: 1rem;
    display: flex;
    background-color: #fff;
    align-items: center;
    margin: 2rem 0;
    gap: 20px;
}
.why-item .sub-title{
    font-size: 14px;
    color: #666;
}